################################################################################
# Este arquivo .gitignore foi criado automaticamente pelo Microsoft(R) Visual Studio.
################################################################################

*.sqlite
/.vs/carnacode-balta-2024-desafio-01/FileContentIndex
/.vs
